
.header_panel{
    padding-top: 52px;
}

.content_profile-avatar{
    padding-left: 400px;
}

.content_profile-social{
    padding-left: 216px;
}

.content_blog-ul{
    margin-left: 15.76px;
}

.content_social{
    display: flex;
}

.content_socail-fb, .content_socail-tw{
    border: 1px solid #EAEAEA;
}

.content_socail-fb svg, .content_socail-tw svg{
    vertical-align: middle;
}

.content_dotline{
    width: 640px;
    border-bottom: 1px dotted black;
    height: 2px;
}

.content_description-about{
    width: 543px;
    padding-top: 4px;
    padding-bottom: 2.75px;
}

.content_eyeline{
    padding-top: 132px;
    position: relative;
}

.content_eyeline-line{
    background-color: black;
    height: 2px;
    width: 1440px;
}

.content_eyeline-eye{
    position: absolute;
    top: 77%;
    left: 48%;
}

.content_articles-header{
    font-size: 44px;
}

.content_articles-arts{
    padding-left: 221px;
}

.content_signup{
    margin-left: 400px;
    width: 640px;
    height: 313px;
    border: 1px solid black;
    margin-top: 114px;
    border-top: 10px solid black;
}

.content_signup-header{
    padding-top: 59px;
}

.content_signup-paragraph{
    padding-left: 51px;
    font-size: 20px;
    padding-top: 18px;
}

.content_signup-paragraph p{
    font-weight: 400;
}

.content_signup-submit{
    padding-left: 60px;
}

.content_signup-submit input{
    width: 381px;
    height: 54px;
    border: 1px solid black;
}

.content_signup-submit button{
    width: 139px;
    height: 54px;
    border: none;
    background-color: black;
    margin-left: -5px;
}

html{
    background-color: black;
    display: flex;
    justify-content: center;
}

#main{
    width: 1440px;
    background-color: white;
}

.header_navigation{
    height: 134px;
    border: 1px solid #c7c397
}

.header_navigation-logo{
    font-size: 44px;
    letter-spacing: 9px;
    padding-top: 52.54px;
    padding-left: 63.58px;
}

.header_navigation-element{
    padding-top: 59px;
    margin-left: 476.59px;
    padding-right: 61px;
    display: flex;
}

.header_navigation-about{
    margin-left: 31px;
}

.header_navigation-links{
    margin-left: 34px;
}

.header_navigation-projects{
    margin-left: 36px;
}

.header_navigation-blog:hover, .header_navigation-about:hover,
.header_navigation-links:hover, .header_navigation-projects:hover{
    border-bottom: 2px solid black;
}

.header_intro{
    width: 858px;
    font-size: 54px;
    font-weight: 700;
    margin-left: 293px;
    padding-top: 44px;
}

.header_ask{
    font-weight: 400;
    line-height: 34px;
    width: 592px;
    margin-left: 424px;
    padding-top: 32px;
}

hr{
    width: 640px;
    height: 2px;
    background-color: black;
}

#footer{
    background-color: black;
    margin-top: 139px;
    width: 1451px;
    height: 464px;
}

.footer_logo{
    font-size: 35px;
    letter-spacing: 5px;
    padding-top: 105.12px;
}

.footer_describe{
    width: 488px;
    font-weight: 400;
    line-height: 22.4px;
    padding-top: 25.58px;
    font-size: 16px;
}

.content_blog-legend{
    font-size: 16px;
}

.content_tag{
    padding-top: 32px;
}

.content_description{
    padding-top: 36px;
}

.content_blog-header{
    font-size: 32px;
}

@media (min-width: 992px){
    .header_navigation_menuicon,
    .content_social-mobile,
    .content_articles-mobile,
    .content_blog-mobilepara,
    .content_socialmb,
    .content_articles-col{
        display: none;
    }
}

@media (width < 992px){
    .content_profile-social, 
    .content_blog-thanks, 
    .content_blog-list,
    .content_blog-paragraph,
    .header_navigation-element,
    .content_social,
    .content_articles-arts{
        display: none;
    }
    #main{
        width: 375px;
    }
    .header_navigation{
        height: 65px;
    }
    .header_navigation-logo{
        font-size: 20px;
        padding-left: 20px;
        padding-top: 24px;
        letter-spacing: 3px;
        width: 217px;
    }
    .header_intro{
        margin-left: 20px;
        width: 335px;
        font-size: 36px;
    }
    .header_ask{
        margin-left: 20px;
        width: 335px;
        padding-top: 24px;
    }
    .header_panel{
        padding-left: 0;
        padding-top: 52px;
    }
    .header_panel img{
        width: 375px;
        height: 235px;
    }
    hr{
        width: 335px;
    }
    .content_profile-avatar{
        padding-left: 20px;
    }
    .content_blog-img img{
        width: 375px;
        height: 250px;
    }
    .content_blog-legend{
        font-size: 13px;
    }
    .content_tag{
        padding-top: 24px;
    }
    .content_dotline{
        width: 335px;
    }
    .content_description{
        padding-top: 28px;
    }
    .content_eyeline{
        padding-top: 91px;
    }
    .content_eyeline-line{
        width: 375px;
    }
    .content_eyeline-eye{
        top: 55%;
        left: 41%;
    }
    .content_articles-header{
        font-size: 33px;
    }
    .content_articles-art img{
        width: 335px;
        height: 194px;
    }
    .content_signup{
        width: 375px;
        height: 305px;
        margin-left: 0;
        border-bottom: 2px solid black;
    }
    .content_signup-header{
        padding-top: 42px;
    }
    .content_signup-paragraph{
        font-size: 16px;
        padding-left: 37px;
        padding-top: 14px;
    }
    .content_signup-submit{
        padding-left: 36px;
    }
    .content_signup-submit input{
        width: 195px;
    }
    .content_signup-submit button{
        width: 108px;
    }
    #footer{
        overflow: hidden;
        width: 375px;
    }
    .footer_describe{
        font-size: 13px;
        width: 278px;
        padding-top: 25.41px;
    }
    #footer{
        margin-top: 52px;
    }
    .content_blog-header{
        font-size: 26px;
    }
}

.content_social-fb, .content_social-tw,
.content_social-wa{
    width: 111.6667px;
    border: 1px solid #EAEAEA;
}