*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100vw;
    height: 48vh;
    background-color: #FFD900;
    white-space: nowrap;
}

.wrap_header{
    padding-top: 79px;
    padding-left: 131px;
}

.version{
    font-family: 'SF Mono';
    font-size: 20px;
}

.readme{
    font-family: 'New York Extra Large', sans-serif;
    font-size: 200px;
    font-weight: 700;
}

.note1>div>div{
    max-width: 62vw;
}

.note3>div>div{
    max-width: 55vw;
}

.pd-t{
    padding-top: 26px;
}
.vertical-line {
    border-left: thick solid black;
    margin-left: 5px;
}
.m-l{
    margin-left: 38px;
}
.ml-25{
    margin-left: 2.5vw;
}
.pd-content{
    padding-top: 103px;
    padding-left: 20vh;
    margin-left: -10px;
}
.pd-p{
    padding-top: 111.5px;
}
.pd-sh{
    padding-top: 69.69px;
}
.header-p{
    font-size: 44px;
    font-weight: 700;
    line-height: 52.51px;
    font-weight: 700;
}

#footer{
    display: block;
    height: 30vh;
}

.content-p{
    font-size: 22.5px;
    font-weight: 400;
    line-height: 23.87px;
    font-family: 'SF Pro Display', sans-serif;
    width: 70vw;
}
.NYE-font{
    font-family: 'New York Extra Large', sans-serif;
}
.Libre-font{
    font-family: 'Libre Bodoni', sans-serif;
}
.Harriet-font{
    font-family: 'Harriet Text', sans-serif;
}
.Basis-font{
    font-family: "Basis Grotesque Pro Black";
}
.Nokia-font{
    font-family: 'Nokia Cellphone FC', sans-serif;
}